<!DOCTYPE html>
<html>
<head>
	<title>ADMIN</title>
	<style type="text/css">
		body
		{
			text-align: center;
			background-color: #e8f1f5;
		}
		h1
		{
			    font-family: 'Train One', cursive;
		}
		h2
		{
			font-family: Parisienne, cursive;
			font-style: normal;
			font-weight: bolder;
			font-size: 30px;
			color: #3E206D;
		}
		button
		{
			padding: 10px;
			width: 300px;
			color: #3E206D;
		}
		button:hover
		{
			transform: scale(1.5);
		}
		table
		{
			/**border: 1px solid #3E206D;**/
			overflow-x: auto;
		}
		p{
			width: 950px;
			margin: auto;
			background-color:#efc0fe;
			padding: 20px;
			display:none;
			margin-top: 30px;
			box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
			-webkit-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
			-moz-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
		}
		th
		{
			font-size: 23px;
		}
		#list {
            list-style: none;
        }

        .nav-icons {
            float: left;
            font-family: Merriweather;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            color: #46B3E6;
            margin-left: 40px;

        }
	</style>
</head>
<body>

<nav>
    <ul id="list">
        <a href="/home">
          <li class="nav-icons">Home</li>
        </a>
        <a href="/menu">
          <li class="nav-icons">Menu</li>
        </a>
	</ul>
</nav><br>

	<h1>Buddha Bakers</h1>
	<h2>ORDER DETAILS</h2>
	<button onclick="table()">Get Order Details</button>
	<p id="content"></p>


{{#if cDetails}}
  <script>
	  var cDet='{{{cDetails}}}';
	  var cust=JSON.parse(cDet);
	  var cName=[];
	  var cAddress=[];
	  var cContact=[];

	  var cTotal=cust.length;
	  //document.getElementById("check").innerHTML=cTotal;
	  for(let k=0;k<cTotal;k++){
		  cName.push(cust[k].cName);
		  cAddress.push(cust[k].cAddress);
		  cContact.push(cust[k].cMobile);
	  }
  </script>
{{/if}}

{{#if pDetails}}
  <script>
	  var pDet='{{{pDetails}}}';
	  var prdct=JSON.parse(pDet);
	  var pName=[];
	  var pPrice=[];
	  var pCategory=[];

	  var pTotal=prdct.length;
	  for(let m=0;m<pTotal;m++){
		  pName.push(prdct[m].pName);
		  pPrice.push(prdct[m].pPrice);
		  pCategory.push(prdct[m].pCategory);
	  }
  </script>
{{/if}}

{{#if qDetails}}
  <script>
	  var qDet='{{{qDetails}}}';
	  var qnty=JSON.parse(qDet);
  </script>
{{/if}}


</body>
<script type="text/javascript">

	function table()
	{
	document.querySelector("#content").style.display="flex";
	/*var names=['Carl','James','Michael','Joey'];
	var address=['ATP-1201','ATP-4567','ATP-4567','ATP-2156'];
	var contact=['1234567890','1234567890','1234567890','1234567890'];*/

	//var dish=['Americano','Hot Chocolate','Strawberry','tea'];
	//var quantity=[2,1,1,2];

	//var total=[140,80,150,60];

	var table="";
	table=table+'<tr>';
	table=table+'<th colspan="3">'+"<u>customer details</u>"+'</th>';
	table+='<th colspan="4">'+"<u>Order Details</u>"+'</th>';
	table+='<th colspan="1">'+"<u>Total</u>"+'</th>';
	table+='</tr>';

	table+='<tr>';
	table+='<th>'+"Name"+'</th>';
	table+='<th>'+"Address"+'</th>';
	table+='<th>'+"Contact"+'</th>';
	table+='<th>'+"Dish"+'</th>';
	table+='<th>'+"Category"+'</th>';
	table+='<th>'+"Unit Price"+'</th>';
	table+='<th>'+"Quantity"+'</th>';
	table+='<th>'+"Total Amount"+'</th>';


	for(var i=0;i<cTotal;i++)
	{
		var tot=pPrice[i]*qnty[i];
		table=table+'<tr>';

		table+='<td>'+cName[i]+'</td>';
		table+='<td>'+cAddress[i]+'</td>';
		table+='<td>'+cContact[i]+'</td>';
		table+='<td>'+pName[i]+'</td>';
		table+='<td>'+pCategory[i]+'</td>';
		table+='<td>'+pPrice[i]+'</td>';
		table+='<td>'+qnty[i]+'</td>';
		table+='<td>'+tot+'</td>';
		table+='</tr>';

	}
	document.getElementById("content").innerHTML='<table cellspacing=20px; cellpadding=10px;>'+table+'</table>';
}
</script>
</html>
