<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="css/clogin.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;600;700&family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/045409986e.js"
      crossorigin="anonymous"
    ></script>
    <title>Login</title>
</head>
<body>
    <nav>
        <h1 id="logo">Buddha Bakers</h1>
        <ul id="list">
          <a href="">
            <li class="nav-icons">Home</li>
          </a>
          <a href="menu.html">
            <li class="nav-icons">Menu</li>
          </a>
          <a href="clogin.html">
            <li class="nav-icons">My Account</li>
          </a>
          <a href="#">
            <li class="nav-icons" onclick="admin()">Admin</li>
          </a>
        </ul>
        <a href=""
          ><span id="cart">My cart <i class="fas fa-shopping-cart"></i></span
        ></a>
      </nav>
      <div class="maindiv">
        <div id="div1">
            <h2>Login</h2>
            <hr />
            <form action="">
                <input type="text" name="user-id" placeholder="Email" />
                <br />
                <input type="password" name="pwd" placeholder="Password" />
                <br />
                <button id="login-btn">Log In</button>
                <br />
            </form>
        </div>
        <img src="https://media.giphy.com/media/X9c0WdcvGYEZRNnXK2/giphy.gif" alt="">
    </div>

      <footer class="text-center" style="background-color: #46b3e6">
        <div class="container">
          <section>
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#"
              role="button"
              ><i class="fa fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#"
              role="button"
              ><i class="fa fa-twitter"></i
            ></a>
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#"
              role="button"
              ><i class="fa fa-google"></i
            ></a>
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#"
              role="button"
              ><i class="fa fa-instagram"></i
            ></a>
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#"
              role="button"
              ><i class="fa fa-linkedin"></i
            ></a>
            <a
              class="btn btn-outline-light btn-floating m-1"
              href="#"
              role="button"
              ><i class="fa fa-github"></i
            ></a>
          </section>
        </div>
      </footer>
</body>
</html>
