<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Buddha Eats and Restaurant | BuddhaEats.com</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/adminPage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Train+One&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="logo1.png" alt="BuddhaEats.com">
        </div>
        <ul>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Menu</a></li>
            <li class="item"><a href="#">Login</a></li>
            <li class="item"><a href="#" onclick="admin()">Admin Login</a></li>
            <li class="item"><a href="#">My Orders</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>

    <section id="home">
        <h1 class="h-primary">Welcome to Buddha Eats and Restaurant</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae quo similique dolorum neque iusto voluptatum quibusdam ducimus facere quam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis repudiandae quo similique dolorum neque iusto voluptatum quibusdam ducimus facere quam!</p>
        <button class="btn">Order Now</button>
    </section>

    <section class="special-orders">
        <h1 class="h-primary center">Our Specials</h1>
        <div id="specials">
            <div class="box">
                <img src="thali.png" alt="">
                <h2 class="h-secondary center">Buddha Special Thali</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam deserunt nostrum eos iusto assumenda qui iste laboriosam dolore nihil, ullam praesentium architecto ratione velit exercitationem veniam id cumque facere dicta saepe. Voluptatum, consequuntur dolor.</p>
            </div>
            <div class="box">
                <img src="cake.png" alt="">
                <h2 class="h-secondary center">Buddha Special Bakery</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam deserunt nostrum eos iusto assumenda qui iste laboriosam dolore nihil, ullam praesentium architecto ratione velit exercitationem veniam id cumque facere dicta saepe. Voluptatum, consequuntur dolor.</p>
            </div>
            <div class="box">
                <img src="pizza.png" alt="">
                <h2 class="h-secondary center">Buddha Special Pizza</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam deserunt nostrum eos iusto assumenda qui iste laboriosam dolore nihil, ullam praesentium architecto ratione velit exercitationem veniam id cumque facere dicta saepe. Voluptatum, consequuntur dolor.</p>
            </div>
          
        </div>
    </section>
<div id="admin-form">
   <div id="admin-content">
      <form id="admin">
         <img src="cross.jpg" id="crossimg" onclick="cross()">
         <H1>Admin Login</H1>
         <img src="login.jpg" id="adminimg">
         <input type="email" name="email" id="admin-input" placeholder="email"><br>
         <input type="password" name="password" id="admin-input" placeholder="password">
         <input type="button" name="login" value="login" id="adminlogin">
      </form>
   </div>
</div>
<script type="text/javascript">
   function admin()
   {
     document.querySelector("#admin-form").style.display="flex";
   }
   function cross(){
     document.querySelector("#admin-form").style.display="none";
   }
</script>
</body>
</html>
