<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/menuPage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" type="text/css" href="/adminPage.css" />
    <!-- <link rel="stylesheet" href="css/clogin.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;600;700&family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/045409986e.js"
      crossorigin="anonymous"
    ></script>
    <title>Menu</title>

    <script>
      function checkLogin(id){
        var em=localStorage.emailId;
        if(localStorage.emailId===undefined){
          var mlink="/alert";
          var ml="mylink"+id;
          document.getElementById(ml).setAttribute("href",mlink);
        }else{
          var mlink="/cart?pId="+id+"&id="+em;
          var ml="mylink"+id;
          document.getElementById(ml).setAttribute("href",mlink);
        }
      }

      function addCart(){
        var em2=localStorage.emailId;
        if(localStorage.emailId===undefined){
          var addlink="/alert";
          document.getElementById("mcart").setAttribute("href",addlink);
        }else{
          var addlink2="/addToCart?cEmId="+em2;
          document.getElementById("mcart").setAttribute("href",addlink2);
        }
      }
    </script>

    {{#if message}}
       <script>
         var x="{{message}}";
         alert(x);
       </script>
    {{/if}}

  </head>

  <body>
    <nav>
      <h1 id="logo">Buddha Bakers</h1>
      <h3 id="check" style="text-align: right; color:hsl(133, 100%, 50%);"></h3>
      <ul id="list">
        <a href="/home">
          <li class="nav-icons">Home</li>
        </a>
        <a href="/menu">
          <li class="nav-icons">Menu</li>
        </a>
        <a href="#">
          <li class="nav-icons">My Account</li>
        </a>
        <a href="#">
          <li class="nav-icons" onclick="admin()">Admin</li>
        </a>
      </ul>
      <a id="mcart" href="/addToCart"><span onclick="addCart()" id="cart">My cart <i class="fas fa-shopping-cart"></i></span></a>
    </nav>

    <div id="first-div">
      <h1 id="eat">What do you like to eat?</h1>
      <h3 id="choose">
        Choose from a wide range of highly delicious delicacies we have for you.
      </h3>
      <br />
      <h2 id="menu">MENU</h2>
    </div>
    <div id="cakes">
      <hr class="hr1" />
      <h2 class="title-name">Cakes</h2>
      <hr class="hr2" />
    </div>
    <!-- <div></div> -->
    <div class="section">
      <div class="item">
        <img src="/images.jfif" alt="Pineapple" />
        <p class="item-name">Pineapple</p>
        <p class="price">Rs. 350</p>
        <a id="mylink1" href="link"><button onclick="checkLogin(1)" class="add">Add to cart</button></a>
        
      </div>


      <div class="item">
        <img src="/stwbryck.jfif" alt="Strawberry" />
        <p class="item-name">Strawberry</p>
        <p class="price">Rs. 350</p>
        <a id="mylink2" href="link"><button onclick="checkLogin(2)" class="add">Add to cart</button></a>
      </div>


      <div class="item">
        <img src="/btsctck.png" alt="Butterscotch" />
        <p class="item-name">Butterscotch</p>
        <p class="price">Rs. 400</p>
        <a id="mylink3" href="link"><button onclick="checkLogin(3)" class="add">Add to cart</button></a>   
      </div>

      <div class="item">
        <img src="/chocotrflck.jfif" alt="Choco Truffle" />
        <p class="item-name">Choco Truffle</p>
        <p class="price">Rs. 400</p>
        <a id="mylink4" href="link"><button onclick="checkLogin(4)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/whtfrstck.jfif" alt="White Forest" />
        <p class="item-name">White Forest</p>
        <p class="price">Rs. 500</p>
        <a id="mylink5" href="link"><button onclick="checkLogin(5)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/frtck.jfif" alt="Fresh fruit" />
        <p class="item-name">Fresh fruit</p>
        <p class="price">Rs. 500</p>
        <a id="mylink6" href="link"><button onclick="checkLogin(6)" class="add">Add to cart</button></a>
      </div>
    </div>


    <div id="pastries">
      <hr class="hr1" />
      <h2 class="title-name">Pastries</h2>
      <hr class="hr2" />
    </div>
    <!-- <div></div> -->
    <div class="section">
      <div class="item">
        <img src="/chcochppst.jfif" alt="Chocochip" />
        <p class="item-name">Chocochip</p>
        <p class="price">Rs. 200</p>
        <a id="mylink7" href="link"><button onclick="checkLogin(7)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/vnlpst.jfif" alt="Vanilla" />
        <p class="item-name">Vanilla</p>
        <p class="price">Rs. 200</p>
        <a id="mylink8" href="link"><button onclick="checkLogin(8)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/stwbrypst.jfif" alt="Strawberry" />
        <p class="item-name">Strawberry</p>
        <p class="price">Rs. 150</p>
        <a id="mylink9" href="link"><button onclick="checkLogin(9)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/redpst.jfif" alt="Red Velvet Cheesecake" />
        <p class="item-name">Red Velvet Cheesecake</p>
        <p class="price">Rs. 250</p>
        <a id="mylink10" href="link"><button onclick="checkLogin(10)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/blbrypst.jfif" alt="Blueberry" />
        <p class="item-name">Blueberry</p>
        <p class="price">Rs. 200</p>
        <a id="mylink11" href="link"><button onclick="checkLogin(11)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/mngpst.jfif" alt="Mango" />
        <p class="item-name">Mango</p>
        <p class="price">Rs. 200</p>
        <a id="mylink12" href="link"><button onclick="checkLogin(12)" class="add">Add to cart</button></a>
      </div>
    </div>

    <div id="beverages">
      <hr class="hr1" />
      <h2 class="title-name">Beverages</h2>
      <hr class="hr2" />
    </div>
    <!-- <div></div> -->
    <div class="section">
      <div class="item">
        <img src="/esprso.jfif" alt="Espresso" />
        <p class="item-name">Espresso</p>
        <p class="price">Rs. 70</p>
        <a id="mylink13" href="link"><button onclick="checkLogin(13)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/amercno.jfif" alt="Americano" />
        <p class="item-name">Americano</p>
        <p class="price">Rs. 70</p>
        <a id="mylink14" href="link"><button onclick="checkLogin(14)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/hotchclte.jfif" alt="Hot Chocolate" />
        <p class="item-name">Hot Chocolate</p>
        <p class="price">Rs. 80</p>
        <a id="mylink15" href="link"><button onclick="checkLogin(15)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/latte.jfif" alt="Latte" />
        <p class="item-name">Latte</p>
        <p class="price">Rs. 80</p>
        <a id="mylink16" href="link"><button onclick="checkLogin(16)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/tea.jfif" alt="Tea" />
        <p class="item-name">Tea</p>
        <p class="price">Rs. 30</p>
        <a id="mylink17" href="link"><button onclick="checkLogin(17)" class="add">Add to cart</button></a>
      </div>

      <div class="item">
        <img src="/lemnd.jfif" alt="Lemonade" />
        <p class="item-name">Lemonade</p>
        <p class="price">Rs. 40</p>
        <a id="mylink18" href="link"><button onclick="checkLogin(18)" class="add">Add to cart</button></a>
      </div>
    </div>
    <footer class="text-center" style="background-color: #46b3e6">
      <div class="container">
        <section>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-twitter"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-google"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-instagram"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
      </div>
    </footer>
    <div id="admin-form">
      <div id="admin-content">
         <form id="admin">
            <img src="/cross.jpg" id="crossimg" onclick="cross()">
            <H1>Admin Login</H1>
            <img src="/login.jpg" id="adminimg">
            <input type="email" name="email" class="admin-input" placeholder="email"><br>
            <input type="password" name="password" class="admin-input" placeholder="password">
            <input type="button" name="login" value="login" id="adminlogin">
         </form>
      </div>
   </div>

   <script type="text/javascript">
    function admin()
    {
      document.querySelector("#admin-form").style.display="flex";
    }
    function cross(){
      document.querySelector("#admin-form").style.display="none";
    }

    if(localStorage.emailId.length>0){
      document.getElementById("check").innerHTML=localStorage.emailId;
    }

 </script>
  </body>
</html>
