<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/menuPage.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" type="text/css" href="/adminPage.css" />
    <!-- <link rel="stylesheet" href="css/clogin.css"> -->
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Open+Sans:wght@400;600;700&family=Parisienne&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/045409986e.js"
      crossorigin="anonymous"
    ></script>
    <title>Menu</title>
  </head>

  <body>
    <nav>
      <h1 id="logo">Buddha Bakers</h1>
      <ul id="list">
        <a href="/home">
          <li class="nav-icons">Home</li>
        </a>
        <a href="/menu">
          <li class="nav-icons">Menu</li>
        </a>
        <a href="#">
          <li class="nav-icons">My Account</li>
        </a>
        <a href="#">
          <li class="nav-icons" onclick="admin()">Admin</li>
        </a>
      </ul>
      <a href=""
        ><span id="cart">My cart <i class="fas fa-shopping-cart"></i></span
      ></a>
    </nav>
    <div id="first-div">
      <h1 id="eat">What do you like to eat?</h1>
      <h3 id="choose">
        Choose from a wide range of highly delicious delicacies we have for you.
      </h3>
      <br />
      <h2 id="menu">MENU</h2>
    </div>
    <div id="cakes">
      <hr class="hr1" />
      <h2 class="title-name">Cakes</h2>
      <hr class="hr2" />
    </div>
    <!-- <div></div> -->
    <div class="section">
      <div class="item">
        <img src="/images.jfif" alt="Pineapple" />
        <form action="" id="c1">
          <label name="name" class="item-name">Pineapple</label>
          <br />
          <label name="price" class="price">Rs.350</label>
        </form>
        <button class="add" form="c1" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/stwbryck.jfif" alt="Strawberry" />
        <form action="" id="c2">
          <label name="name" class="item-name">Strawberry</label>
          <br />
          <label name="price" class="price">Rs.350</label>
        </form>
        <button class="add" form="c2" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/btsctck.png" alt="Butterscotch" />
        <form action="" id="c3">
          <label name="name" class="item-name">Butterscotch</label>
          <br />
          <label name="price" class="price">Rs.400</label>
        </form>
        <button class="add" form="c3" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/chocotrflck.jfif" alt="Choco Truffle" />
        <form action="" id="c4">
          <label name="name" class="item-name">Choco truffle</label>
          <br />
          <label name="price" class="price">Rs.400</label>
        </form>
        <button class="add" form="c4" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/whtfrstck.jfif" alt="White Forest" />
        <form action="" id="c5">
          <label name="name" class="item-name">White Forest</label>
          <br />
          <label name="price" class="price">Rs.500</label>
        </form>
        <button class="add" form="c5" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/frtck.jfif" alt="Fresh fruit" />
        <form action="" id="c6">
          <label name="name" class="item-name">Fresh Fruit</label>
          <br />
          <label name="price" class="price">Rs.500</label>
        </form>
        <button class="add" form="c6" type="button">Add to cart</button>
      </div>
    </div>

    <div id="pastries">
      <hr class="hr1" />
      <h2 class="title-name">Pastries</h2>
      <hr class="hr2" />
    </div>
    <!-- <div></div> -->
    <div class="section">
      <div class="item">
        <img src="/chcochppst.jfif" alt="Chocochip" />
        <form action="" id="p1">
          <label name="name" class="item-name">Chocochip</label>
          <br />
          <label name="price" class="price">Rs.200</label>
        </form>
        <button class="add" form="p1" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/vnlpst.jfif" alt="Vanilla" />
        <form action="" id="p2">
          <label name="name" class="item-name">Vanilla</label>
          <br />
          <label name="price" class="price">Rs.200</label>
        </form>
        <button class="add" form="p2" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/stwbrypst.jfif" alt="Strawberry" />
        <form action="" id="p3">
          <label name="name" class="item-name">Strawberry</label>
          <br />
          <label name="price" class="price">Rs.150</label>
        </form>
        <button class="add" form="p3" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/redpst.jfif" alt="Red Velvet Cheesecake" />
        <form action="" id="p4">
          <label name="name" class="item-name">Red Velvet Chessecake</label>
          <br />
          <label name="price" class="price">Rs.250</label>
        </form>
        <button class="add" form="p4" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/blbrypst.jfif" alt="Blueberry" />
        <form action="" id="p5">
          <label name="name" class="item-name">Blueberry</label>
          <br />
          <label name="price" class="price">Rs.200</label>
        </form>
        <button class="add" form="p5" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/mngpst.jfif" alt="Mango" />
        <form action="" id="p6">
          <label name="name" class="item-name">Mango</label>
          <br />
          <label name="price" class="price">Rs.200</label>
        </form>
        <button class="add" form="p6" type="button">Add to cart</button>
      </div>
    </div>

    <div id="beverages">
      <hr class="hr1" />
      <h2 class="title-name">Beverages</h2>
      <hr class="hr2" />
    </div>
    <!-- <div></div> -->
    <div class="section">
      <div class="item">
        <img src="/esprso.jfif" alt="Espresso" />
        <form action="" id="b1">
          <label name="name" class="item-name">Espresso</label>
          <br />
          <label name="price" class="price">Rs.70</label>
        </form>
        <button class="add" form="b1" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/amercno.jfif" alt="Americano" />
        <form action="" id="b2">
          <label name="name" class="item-name">Americano</label>
          <br />
          <label name="price" class="price">Rs.70</label>
        </form>
        <button class="add" form="b2" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/hotchclte.jfif" alt="Hot Chocolate" />
        <form action="" id="b3">
          <label name="name" class="item-name">Hot Chocolate</label>
          <br />
          <label name="price" class="price">Rs.80</label>
        </form>
        <button class="add" form="b3" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/latte.jfif" alt="Latte" />
        <form action="" id="b4">
          <label name="name" class="item-name">Latte</label>
          <br />
          <label name="price" class="price">Rs.80</label>
        </form>
        <button class="add" form="b4" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/tea.jfif" alt="Tea" />
        <form action="" id="b5">
          <label name="name" class="item-name">Tea</label>
          <br />
          <label name="price" class="price">Rs.30</label>
        </form>
        <button class="add" form="b5" type="button">Add to cart</button>
      </div>
      <div class="item">
        <img src="/lemnd.jfif" alt="Lemonade" />
        <form action="" id="b6">
          <label name="name" class="item-name">Lemonade</label>
          <br />
          <label name="price" class="price">Rs.40</label>
        </form>
        <button class="add" form="b6" type="button">Add to cart</button>
      </div>
    </div>
    <footer class="text-center" style="background-color: #46b3e6">
      <div class="container">
        <section>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-facebook-f"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-twitter"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-google"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-instagram"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-linkedin"></i
          ></a>
          <a
            class="btn btn-outline-light btn-floating m-1"
            href="#"
            role="button"
            ><i class="fa fa-github"></i
          ></a>
        </section>
      </div>
    </footer>
    <div id="admin-form">
      <div id="admin-content">
         <form id="admin">
            <img src="/cross.jpg" id="crossimg" onclick="cross()">
            <H1>Admin Login</H1>
            <img src="/login.jpg" id="adminimg">
            <input type="email" name="email" class="admin-input" placeholder="email"><br>
            <input type="password" name="password" class="admin-input" placeholder="password">
            <input type="button" name="login" value="login" id="adminlogin">
         </form>
      </div>
   </div>

   <script type="text/javascript">
    function admin()
    {
      document.querySelector("#admin-form").style.display="flex";
    }
    function cross(){
      document.querySelector("#admin-form").style.display="none";
    }
 </script>
  </body>
</html>
