body {
    background: #E8F1F5;
    width: 100%;
    height: 100%;
}
#logo{
    font-family: Parisienne, cursive;
    font-style: normal;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;

    color: #3E206D;
}

li{
    list-style: none;
}

.nav-icons {
    float: left;
    font-family: Merriweather;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #46B3E6;
    margin-left: 40px;

}
#delivery_address, #payment_method
{
    border: 2px solid lavender;
    padding: 20px;
    border-radius: 3%;
}
#delivery_address:hover, #payment_method:hover {
    box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
    -webkit-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
    -moz-box-shadow: -6px 6px 10px 1px rgba(44, 44, 44, 0.75);
}
#type_address
{
    width: 80%;
    height: 100px;
    margin: 10px;
}
#payment_method h4,#payment_method dd
{
    text-align: center;
}
#summary_btn,#remove_btn{
    border: none;
    background-color: rgb(121, 180, 248);
    padding: 0.7rem 3rem;
    margin: 15px auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    outline: none;
}
#remove_btn{
    border: none;
    background-color: rgb(121, 180, 248);
    padding: 0.7rem 3rem;
    margin: 15px auto;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    color: white;
    outline: none;
}
#summary_btn:hover{
    background-color: #3E206D
}
#remove_btn:hover
{
    background-color: #922724;
}
#summary
{
    display: none;
    border: 5px solid lavender
}
table
{
    width: 100%;
    text-align: center;
}
th,td
{
    padding: 10px;
}
#quantity
{
    width: 30px;
}
#products_ordered {
    font-family: 'New Tegomin', serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 20px;
    }
#confirm,#addaddress
{
    padding: 10px;
    width: 30%;
    float: right;
    background-color:#ead3cb;
    color: black;
    margin: 10px;
}
#confirm:hover
{
    transform: scale(1.1);
}
